html, body {
     height: 100%;
}

body {
     display: flex;
     flex-direction: column;
}

header {
     display: flex;
     justify-content: space-between;
     padding: 0.5rem;
}

main {
     flex: 1 0 auto;
     display: flex;
     flex-direction: column;
     align-items: center;
     margin: 0rem 15rem;
}

footer {
     flex-shrink: 0;
     background-color: #f1f1f1;
     text-align: center;
     margin: 1rem 0rem 0rem 0rem;
     padding: 1.5rem 0rem;
}

#heading {
     text-align: center;
}

h3 {
     text-align: center;
     margin: 1rem 0rem;
}

h4 {
     margin: 0.5rem 0rem;
     font-size: 1.25rem;
}

h5 {
     font-size: 1rem;
}

.section {
     margin: 0rem 2rem;
}

.matchup { 
     display: flex;
     justify-content: center;
     margin: 0rem 0rem;
}

.dropdownBtn {
     margin: .75rem 1rem;
}

.dropdownHeader {
     margin: 0.75rem 0rem 0rem 0.5rem;
}

.matchup > button {
     margin: 0.5rem;
     padding: 0.5rem 1rem;
}

.matchup > p {
     margin: 1rem 0.5rem;
}

.matchup > .btn {
     font-size: 0.9rem;
}

.table {
     font-size: 1rem;
}

#sections {
     display: flex;
     flex-direction: row;
}

#gamesHeader {
     display: flex;
     justify-content: center;
}

#source {
     float: right;
}

#remainingGamesList {
     position: relative;
     padding: 0;
}

footer > a {
     margin: 0.5rem;
}

@media screen and (max-width: 1730px){ 
	main{
          margin: 0rem;
     }
}

@media screen and (max-width: 1250px){ 
	#sections {
          flex-direction: column;
     }

     #source {
          float: left;
     }
}

@media screen and (max-width: 600px){ 
	#heading {
          margin: 0rem 1rem;
     }
}