.matchup { 
	display: flex;
	justify-content: center;
	margin: 0rem 0rem;
}

.matchup > button {
	margin: 0.5rem;
	padding: 0.5rem 1rem;
}

.matchup > p {
	margin: 1rem 0.5rem;
}

.matchup > .btn {
	font-size: 0.9rem;
}

.dropdownClass {
	margin: 0rem 0.5rem 0rem 0rem;
}

.dropdownBtn {
	margin: .75rem 1rem;
}

.dropdownHeader {
	margin: 0.75rem 0rem 0rem 0.5rem;
}

.table {
	font-size: 1rem;
}

#gamesHeader {
	display: flex;
	justify-content: center;
}

#source {
	float: right;
}

@media screen and (max-width: 1250px){ 
	#source {
		float: left;
	}
}

#remainingGamesList {
	position: relative;
	padding: 0;
}